on boot
    rmmod wlan.ko
    mount none /crk_modules /system/lib/modules/ bind


# launch crk kernel boot script
service crk_script /system/bin/sh /fs_onboot.sh
    class late_start
    user root
    group root
    disabled
    oneshot


on property:sys.boot_completed=1
    start crk_script

